<div id="banner" class="podcast_banner">
  <h1>Find your new favorite podcast</h1>
</div>

<div id="podcast" class="cf">
  <div class="wrapper">
    <ul>
      <% @podcasts.each do |podcast| %>
        <%= link_to podcast do %>
          <li>
            <img src="images/pod save.jpg" alt="Pod Save America Podcast">
            <div class="podcast_overview">
              <h2><%= podcast.title %></h2>
              <p class="episode_count">1 Episode</p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
